body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1557683316-973673baf926') no-repeat center center fixed;
    background-size: cover;
    background-color: #f4f4f4;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar ul li {
    display: inline-block;
    margin: 0 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: #f9f9f9;
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Specific styles */
.converter-container {
    background-color: #f4f4f4; /* Example */
}

.login-container {
    background-color: #eef;
}

.register-container {
    background-color: #fee;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 95%;
}

select, button {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    display: block;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

input[readonly] {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    cursor: not-allowed;
}

#result button {
    width: 48%;
}


#converted-amount {
    flex-grow: 1;
}

#clear-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#clear-button {
    width: auto;
    padding: 10px 20px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#clear-button:hover {
    background-color: #cc0000;
}
